$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;
$title-font: 'Raleway', sans-serif;
$body-font: 'Open Sans', sans-serif;
$button-clr: #00c8aa;

html {
  font-size: 62.5%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
  display: none;
  }
}


body {
  height: 100vh;
  font-family: $body-font;
  scroll-margin: 0;
  scroll-padding: 0;
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.display-1 {
  font-size: 8rem;
}

.h4 {
  font-size: 1.8rem;
}

.logo-text,
.h1,
.display-1,
.display-2,
.countdown-row .h4 {
  font-family: $title-font;
}

.btn {
  background: $button-clr;
  color: #fff;
  border: none;
  border-radius: 10rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: .15rem;
  transition: 0.3s;

  &-primary:hover {
    background: $button-clr;
    filter: brightness(110%);
    transition: 0.3s;
  }
}

.wrapper {
  width: 100%;
}

.logo-hide {
  opacity: 0;
  pointer-events: none;
  transition: .3s;
}

section, footer {
  position: relative;
  scroll-snap-align: start;
  z-index: 1;
}


header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10rem;

  a {
    text-decoration: none;
    color: #fff;
    opacity: 1;
    transition: .3s;

    &:hover {
      text-decoration: none;
      color: #fff;
    }

    .h1,
    .logo-text {
      text-transform: uppercase;
      letter-spacing: .2rem;
    }
  }

  img {
    width: 5rem;
  }

  .btn {
    span {
      display: inline-block;
      opacity: 0;
      animation: rotate-bell 0.3s ease-in-out infinite alternate both;
      transition: .3s;
    }

    &:hover {
      padding-right: 3.75rem !important;
      span {
        transition: .3s;
        margin-left: 1rem;
        opacity: 1;
      }
    }
  }
}

.sidebar {
  right: 3%;
  bottom: 50%;
  margin-bottom: -10%;
  z-index: 100;

  ul {
    list-style-type: none;

    li {

      p {
          background: #434850;
          border-radius: 2rem;
          opacity: 0;
          transform: translateY(3rem);
          font-family: $title-font;
          transition: .3s;
        }

      a {
        display: block;
        width: 1rem;
        height: 1rem;
        background: #434850;
        transform: rotate(45deg);
        transition: .3s;
      }

      &.sidebar-indicator-active {
        p {
          opacity: 1;
          transform: translateY(0);
        }

        a {
          background: #fff;
          transform: rotate(135deg);
          transition: .3s;
        }
      }

    }
  }

  
}

.hero {
  background: url("https://images.unsplash.com/photo-1473283147055-e39c51463929?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=4884&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  min-height: 666px;

  .wrapper {
    height: 100%;
  }

  .content-container {
    width: 80%;
  }

  .social-links {
    font-size: 1.6rem;
    right: 5rem;

    a {
      color: rgba(255, 255, 255, 0.5);
      transition: .3s;

      &:hover {
        color: rgba(255, 255, 255, 1);
        transition: .3s;
      }
    }
  }

  .btn {
    border-radius: .25rem;
    letter-spacing: normal;
    text-transform: none;
    color: #000;
    background: #fff;

    &:hover {
      background: transparent;
      color: #fff;
      border: 1px solid #fff;
    }
  }

  .arrow-down {
    left: 50%;
    transform: translate(-25%);
    font-size: 3rem;

    a {
      display: block;
      color: #fff;
      height: 6rem;

      i {
        animation: bounce 3s ease-in-out infinite alternate both;
      }
    }

  }

  .social-links,
  .arrow-down {
    bottom: 5rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 666px;
    background: rgba(0, 0, 0, 0.75);
    z-index: 0;
  }
}

.info-section {

  p {
    color: #939da5;
    font-size: 1.4rem;
    line-height: 1.75;

    &.display-2 {
      color: #fff;
      font-size: 5.5rem;
    }
  }

  &.about,
  &.features,
  &.founders,
  &.testimonials {
    &,
    & > .row,
    .text-col,
    .img-col {
      height: 100vh;
    }
  }

  &.about,
  &.features,
  &.testimonials {
    &,
    & > .row,
    .text-col,
    .img-col {
      min-height: 523px;
    }
  }

  &.founders {
    &,
    & > .row,
    .text-col,
    .img-col {
      min-height: 666px;
    }
  }

  &.features {

    #slide-container {

      i {
        color: #fff600;
        font-size: 3rem;
      }
    }

    .carousel-controls {
      i {
        font-size: 4rem;
      }
    }

    .slide-dots {
      i {
        font-size: 1.4rem;
      }
    }

    .carousel-control-next,
    .carousel-control-prev,
    .slide-dots {
      i {
        color: #434850;
        transition: .3s;

        &:hover {
          color: #fff;
          cursor: pointer;
          transition: .3s;
        }
      }
    }
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.info-section {
  background: #323a45;
  color: #fff;
}

.founders {

  .founder-col {
    img {
      width: 80%;
      margin: 0 auto;
      height: 25rem;
    }

    h2 {
      span {
        font-family: $title-font;
        font-weight: 100;
        font-size: 1.4rem;
      }
    }

    &:first-of-type {
      img {
        object-position: 0 40%;
      }
    }

    &:last-of-type {
      img {
        object-position: 0 27%;
      }
    }
  }


}

.testimonials {
  .img-col {
    .row {
      &:first-of-type {
        .col-md-6 {
          &:first-of-type {
            background-image: url("https://images.unsplash.com/photo-1608927259970-d75a12b16a6e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
            background-position: 0 60%;
          }

          &:last-of-type {
            background-image: url("https://images.unsplash.com/photo-1600639770958-9ac2b5e1306b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
            background-position: 0 30%;

            &:hover {
              background-position: 0 25%;
            }
          }
        }
      }

      &:last-of-type {
        .col-md-6 {
          &:first-of-type {
            background-image: url("https://images.unsplash.com/photo-1618349144407-f9062dd13caa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
            background-position: 0 50%;
          }

          &:last-of-type {
            background-image: url("https://images.unsplash.com/photo-1600442715397-d9df4afe6229?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
            background-position: 0 32%;
          }
        }
      }
    }
  }

  .img-2-up {
    width: 100%;
    height: 50%;

    .col-md-6 {
      background-size: 100%;
      height: 100%;
      transition: .3s;

      &:hover {
        transition: .3s;
        background-size: 120%;
      }
    }
  
    .testimonial {
      opacity: 0;
      text-align: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: .3s;

      &:hover {
        cursor: default;
        opacity: 1;
        transition: .3s;
      }

      .h1,
      p {
        line-height: 1;
        color: #fff;
      }
    }
  }

}

.carousel-control-next,
.carousel-control-prev {
  position: static;
  width: auto;

  i {
    color: #fff !important;
  }
}

.carousel-indicators {
  position: static;

  & [data-bs-target] {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    border: none;
    background-clip: initial;

  }
}

footer {
  background: url("https://images.unsplash.com/photo-1551632811-561732d1e306?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  background-size: cover;
  background-attachment: fixed;
  height: 75vh;
  min-height: 463px;
  position: relative;
  color: #fff;

  .wrapper {
    z-index: 2;
  }

  p {
    font-size: 1.4rem;
    line-height: 1.75;
  }

  form {
    width: 50%;
    max-width: 57rem;
    margin: 0 auto;
  }

  input[type=text] {
    font-size: 1.4rem;
    color: #000;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    transition: .3s;


    &:hover,
    &:focus-visible {
      background: #fff;
      transition: .3s;
    }

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      color: #939da5;
    }
  }

  .btn {
    width: 25%;
    margin: 0 auto;
  }

  .copyright {
    width: 100%;
    left: 0;
    bottom: 2rem;
    color: #939da5;
    font-family: $title-font;
    letter-spacing: .2rem;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
  }
}



@keyframes rotate-bell {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% { 
    transform: translateY(100%);
  }

}

@media screen and (max-width: 992px) {
  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .countdown-col {
    flex-direction: column;
  }

  .hero {
    .social-links,
    .arrow-down {
      bottom: 2.5rem;
    }
  }

  .info-section {
      &.about,
      &.features,
      &.founders,
      &.testimonials {
        &,
        & > .row,
        .text-col {
          height: auto;
        }
      }

      &.about,
      &.features,
      &.founders {
        .img-col {
          height: 50vh;
          min-height: 333px;
        }

        .text-col {
          padding: 5rem 0;
        }
      }

      &.about {
        &,
        & > .row,
        .text-col {
          min-height: 333px;
        }
      }

      &.about,
      &.features {
        .text-col {
          h1,
          h2,
          p {
            text-align: center;
          }
        }
      }

      &.features {
        & > .row {
          display: flex;
          flex-direction: column-reverse;
        
          .col-12 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 3rem;
          }
        }

        #slide-container {
          .carousel-controls {
            i {
              font-size: 5rem;
            }

            .carousel-control-prev {
              margin-right: 6rem !important;
            }
          }
        }

      }

      &.testimonials {
        .img-col,
        .img-2-up {
          height: auto;
        }

        .img-2-up {
          .col-12 {
            height: 50vh;
          }
        }

        .img-col {
          .row {
            &:first-of-type,
            &:last-of-type {
              .col-md-6 {
                &:first-of-type {
                  .testimonial {
                    background: rgba(0, 200, 170, .9);
                  }
                }

                &:last-of-type {
                  .testimonial {
                    background: rgba(255, 246, 0, .9);
                    
                    .h1,
                    .h4,
                    .h5 {
                      color: #323a45 !important;
                    }

                  }
                }
              }
            }
          }
        }

        .testimonial {
          opacity: 1;
          
        }
      }
    }

  .founders {

    .founder-col:first-of-type {
      margin-bottom: 5rem;
    }
  }

  footer {
    form {
      max-width: 45rem;
      width: 80%;
    }
    
    .btn {
      min-width: 135px;
    }
  }
}

@media screen and (max-width: 575px) {
  .info-section {

      &.features {

        #slide-container {
          .carousel-controls {
            i {
              font-size: 5rem;
            }

            .carousel-control-prev {
              margin-right: 6rem !important;
            }
          }
        }

      }

  }
}

@media screen and (max-width: 410px) {
  header {
    position: relative;

    .wrapper,
    .col:last-of-type {
      padding: 0 !important;
    }

    .col:first-of-type {
      margin-top: 5rem;

      a {
        justify-content: center;
        align-items: center !important;

        img {
          width: 10%;
        }

        h1 {
          font-size: calc(1rem + 1.5vw);
        }
      }
    }

    .col:last-of-type {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .btn {
        width: 100%;
        border-radius: 0;
      }
    }

    

    .btn {
      font-size: calc(1rem + 1.5vw);
    }
  }

  .hero {
    &,
    &::before {
      min-height: 596px;
    }

    .display-1 {
      font-size: calc(1.625rem + 4.5vw);
    }

    .h4 {
      font-size: calc(1.275rem + .3vw);
    }

    .social-links {
      margin-top: 3rem;
      position: static !important;

      .col {
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-of-type {
          justify-content: flex-end;
        }

        &:nth-of-type(2) {
          margin: 0 !important;
        }

        &:last-of-type {
          justify-content: flex-start;
        }

        i {
          font-size: 2rem;
        }
      }
    }
  }

}